<!--
  Generated template for the RestaurantListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Food companies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="body">

  <ion-list>

    <button ion-item *ngFor="let rest of restaurants" (click)="onGoToRestaurantDetails(rest.company_id)">
      <ion-thumbnail item-start>
        <img src="" alt="img">
      </ion-thumbnail>
      <h2>{{rest.title_english}}</h2>
      <p>Location: {{rest.location_english}}</p>

<!--
      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'a+'">
        <ion-icon color="secondary" ios="" md="">A+</ion-icon>
      </li>

      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'a'">
        <ion-icon color="secondary" ios="" md="">A</ion-icon>
      </li>

      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'b'">
        <ion-icon color="yellow" ios="" md="">B</ion-icon>
      </li>

      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'c'">
        <ion-icon color="danger" ios="" md="">C</ion-icon>
      </li>
-->
    </button>

    <ion-item *ngIf="!restaurants" text-center>
      <ion-icon color="danger" ios="" md="">No food company found!</ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
